<div class="container">
  <div class="container__card">
    <h1>Digitadeiro</h1>

    <div class="texto">
      <span
        [class]="validateChars(singleChar, text[i])"
        *ngFor="let singleChar of lorem.split(''); let i = index"
      >{{ singleChar }}</span>
    </div>

      <mat-form-field appearance="fill">
        <mat-label>Digitadeiro</mat-label>
        <input
          matInput
          placeholder="Ou Aprenda a Soletrar!"
          autocomplete="off"
          (input)="inputTypeChange($event.target.value)"
        >
      </mat-form-field>

    <div *ngIf="text === lorem">
      <h2>{{ 'Você Venceu !!!' }} </h2>
    </div>
  </div>
</div>
