// .ui.segment>div.actions {
//   display: flex;
//   justify-content: center;
// }

.image-container {
  margin-bottom: 1rem;
  .image {
    // float: left;
    width: 25%;
    cursor: pointer;
  }
}
.header {
  display: flex;
  align-items: center!important;
  justify-content: space-between!important;

  h1 {
    margin-bottom: -.5rem;
  }
  i {
    cursor: pointer;
  }
}
