<section>

  <form [formGroup]="mathForm">

    <!-- FORMAS DE SE CHAMAR O VALOR DO FIELD DO FORMULARIO -->
    <!-- {{ mathForm.get('partA') }} -->
    <!-- {{ mathForm.controls.partA.value }} -->
    <!-- {{ mathForm.value.partB }} -->

    <article>
      <div>
        <!-- USANDO UM GETTER METHOD PARA PEGAR partA E partB -->
        {{ partA }} + {{ partB }} =
        <input appHighlightAnswer formControlName="answer" />
      </div>

      <div>
        {{ secondsPerSolution | number:'1.1-3' }}
      </div>
    </article>

    <!-- debugging -->
    <!-- <div>
      <h3>formValidation = {{ mathForm.valid | json }}</h3>
      <h3>formErrorHands = {{ mathForm.errors ? (mathForm.errors | json) : 'Sem Erros' }}</h3>
    </div> -->

  </form>

</section>
