section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  mat-card {
    background-color: #aaaaaa;
    padding: 2rem 3rem 3rem;
    width: 20rem;

    mat-card-title {
      color: #018786;
      margin: 2rem auto;
    }

    form {
      mat-error {
        border: 1px solid red;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        padding: 0.5rem;
      }
    }
  }
}
