<mat-card>
  <mat-card-title>Crie sua conta!!!</mat-card-title>
  <form [formGroup]="authForm">
      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input
          matInput
          placeholder="Usuário"
          formControlName="username"
        />
      </mat-form-field>

      error: {{ authForm.controls.username.errors | json }}
      valid: {{ authForm.controls.username.valid }}

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input
          matInput
          validators
          placeholder="Senha"
          formControlName="password"
        />
      </mat-form-field>

      error: {{ authForm.controls.password.errors | json }}
      valid: {{ authForm.controls.password.valid }}

      <mat-form-field>
        <mat-label>Confirme a senha</mat-label>
        <input
          matInput
          validators
          placeholder="Confirme a senha"
          formControlName="passwordConfirmation"
        />
      </mat-form-field>

      error: {{ authForm.controls.passwordConfirmation.errors | json }}
      valid: {{ authForm.controls.passwordConfirmation.valid }}
      formerros: {{ authForm.errors | json }}

      <!-- INSERIR UM BOTÃO -->
  </form>
</mat-card>
