<section>
  <mat-card>
    <mat-card-title>Crie sua conta!!!</mat-card-title>
    <form [formGroup]="authForm">

      <app-input
        type="text"
        label="Usuário"
        placeholder="Como quer ser chamado?"
        [control]="authForm.controls.username">
      </app-input>

      <app-input
        type="password"
        label="Senha"
        placeholder="Entre 4 e 30 caracteres"
        [control]="authForm.controls.password">
      </app-input>

      <app-input
        type="password"
        label="Confirme a Senha"
        placeholder="A mesma do campo anterior"
        [control]="authForm.controls.passwordConfirmation">
      </app-input>

      <mat-error *ngIf="this.authForm.errors">
        <div *ngIf="this.authForm.errors.passwordError">Senhas devem ser iguais !!!</div>
      </mat-error>

      <div style="width:100%;margin-top:1.5rem;">
        <button
          style="width:100%;"
          mat-raised-button
          (click)="onSubmit()"
          color="primary">Cadastre-se</button>
      </div>
    </form>
  </mat-card>
</section>
