<div class="row mb-3">
  <div class="col-sm-12">
    <form>
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="ingredient">Ingrediente</label>
          <input type="text" name="ingredient" id="ingredient" class="form-control" #ingredientInput>
        </div>
        <div class="col-sm-4 form-group">
          <label for="amount">Quantidade</label>
          <input type="number" name="amount" id="amount" class="form-control" #amountInput>
        </div>
        <div class="col-sm-4 form-group">
          <label for="unit">Gramas/Unidades</label>
          <input type="text" name="unit" id="unit" class="form-control" #unitInput>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-outline-success" type="submit" (click)="onAddIngredient()">Adiciona</button>
            <button class="btn btn-outline-primary" type="button">Limpa</button>
            <button class="btn btn-outline-danger" type="button">Deleta</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
