<div class="row mb-3">
  <div class="col-sm-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Ingrediente</label>
          <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="col-sm-5 form-group">
          <label for="amount">Quantidade</label>
          <input type="number" name="amount" id="amount" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-outline-success" type="submit">Adiciona</button>
            <button class="btn btn-outline-primary" type="button">Limpa</button>
            <button class="btn btn-outline-danger" type="button">Deleta</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
