<form (submit)="onSubmit()" #emailForm="ngForm">
  <input
    required
    type="email"
    pattern=".+@.+\..+"
    name="email"
    [(ngModel)]="email"
    #emailControl="ngModel"
  >
  <ng-container *ngIf="emailControl.invalid && emailControl.touched">
    <div *ngIf="emailControl.errors.required">
      Entre um email
    </div>
    <div *ngIf="emailControl.errors.pattern">
      Entre um email válido
    </div>
  </ng-container>
  <button
    type="submit"
    [disabled]="emailForm.invalid"
  >Enviar</button>
</form>


<div>
  <h1>{{ email }}</h1>
  <h3>Validade: {{ emailForm.valid === true ? 'Válido' : 'Inválido' }}</h3>
  <h3>Valores: {{ emailForm.value | json }}</h3>
  <!-- <h3>Erros: {{ emailForm.controls.email.errors ? (emailForm.controls.email.errors | json) : 'Sem erros' }}</h3> -->
</div>
