<div class="ui container">
  <div class="ui secondary pointing menu fixed sticky inverting">
    <div class="title-container">
      <h3>Miles Davis Quintets</h3>
    </div>
    <a
      routerLinkActive="active"
      class="item"
      routerLink="/elements"
    >
      Elements
    </a>

    <a
      routerLinkActive="active"
      class="item"
      routerLink="/collections"
    >
      Collections
    </a>

    <a
      routerLinkActive="active"
      class="item"
      routerLink="/views"
    >
      Views
    </a>

    <a
      routerLinkActive="active"
      class="item"
      routerLink="/mods"
    >
      Mods
    </a>

  </div>
  <div class="ui segment" style="margin-top: 4rem!important; z-index: 1">
    <router-outlet></router-outlet>
  </div>
</div>

