.ui.sticky.fixed {
  left: 0 !important;
}
.inverting {
  background-color: whitesmoke !important;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3%;
}
