.ui.sticky.fixed {
  left: 0 !important;
  height: 4.5vh;
}
.inverting {
  background-color: whitesmoke !important;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3%;
}
.title-container--link {
  color: black;
  font-size: larger;
  font-weight: bold;
}
