<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
   <ng-container matColumnDef="instrument">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Instrumento</th>
      <td mat-cell *matCellDef="let row">
          <h3>{{row.instrument}}</h3>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Artista</th>
      <td mat-cell *matCellDef="let row">
        <span>
          <h1>{{row.title}}</h1>
        </span>
      </td>
    </ng-container>

    <!-- image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Imagem</th>
      <td class="last-td" mat-cell *matCellDef="let row">
        <img class="image" [src]="row.image" >
      </td>
    </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="1"
      [pageSizeOptions]="[1, 3, 5]">
  </mat-paginator>
</div>
