.datatable__container {
  width: 80%;
  margin: 0 auto;

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.datatable__container--table {
  width: 100%;
  min-height: 90vh;
  max-height: 100vh;
}

td {
  display: flex;
  justify-content: center;
  .image {
    box-shadow: 5px 5px 8px #222222, 10px 10px 8px #333333, 15px 15px 8px #555555;
    width: 100%;
    max-width: 40rem;
    max-height: 70vh;
    margin: 1rem 0;

    @media screen and (max-width: 500px) {
      width: 80%;
      margin-left: 1.2rem;
    }
  }
}

.last-td {
  border-top: 1rem rgba(25, 25, 25, .5) solid;
}
