<div class="ui divided items">
  <div class="item" *ngFor="let row of items">
    <div class="image">
      <img [src]="row.image">
    </div>
    <div class="content">
      <h1 class="header">{{ row.title }}</h1>
      <!-- <div class="meta">
        <span class="cinema">{{ row.place }}</span>
      </div> -->
      <div class="extra">
        <div class="ui label"><i class="icon arrow alternate circle right outline"></i>{{ row.text ? row.text : 'No Description' }}</div>
      </div>
      <div class="extra">
        <div class="ui label"><i class="icon hourglass outline"></i>{{ row.tech }}</div>
      </div>
      <div class="extra">
        <div class="ui label"><i class="icon circle outline"></i>{{ row.place }}</div>
      </div>
    </div>
  </div>
</div>
